/* Responsive Background Image */
.about-bg-image {
  height: 70vh;
  min-height: 500px;
}

@media (max-width: 740px) {
  .about-bg-image {
    height: 70vh !important;
    min-height: 500px !important;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease-out forwards;
  animation-fill-mode: forwards;
}

.animate-slide-in-right {
  opacity: 0;
  transform: translateX(30px);
  animation: slideInFromRight 0.3s ease-out forwards;
  will-change: transform, opacity;
  animation-fill-mode: forwards;
}

.animate-delay-100 {
  animation-delay: 0.3s !important;
}

.animate-delay-200 {
  animation-delay: 0.6s !important;
}
