@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
  --font-gilda: 'Gilda Display', serif;
  --color-primary: #C38154;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.App {
  width: 100%;
  min-height: 100vh;
  font-family: 'Gilda Display', serif;
  position: relative;
  overflow: hidden;
}

/* Kapakana Script Styling */
.kapakana-script {
  font-family: 'Dancing Script', cursive;
  color: #0F4D2F;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.2;
}
