@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

:root {
  --font-gilda: 'Gilda Display', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.App {
  width: 100%;
  min-height: 100vh;
  font-family: 'Gilda Display', serif;
  position: relative;
  overflow: hidden;
}

